.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  width: 100%;

  &__logo{
    position: relative;
    width: 70px;
    height: 70px;;

    &-img{
      position: relative;
      width: 100%;
      height: 100%;
    }
  }

  &__list{
    list-style: none;
  }

  &__item{

  }

  &__link:link,
  &__link:active,
  &__link:visited{
    text-decoration: none;
  }
}